In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saldanha,ZA,2021-08-04 15:19:53,-33.0117,17.9442,59.38,87,4,13.80
1,1,Busselton,AU,2021-08-04 15:19:30,-33.6500,115.3333,47.05,89,1,6.85
2,2,Asyut,EG,2021-08-04 15:19:54,27.1810,31.1837,111.38,8,3,10.25
3,3,Ixtapa,MX,2021-08-04 15:19:54,20.7000,-105.2000,83.23,78,75,0.00
4,4,Shingu,JP,2021-08-04 15:19:54,33.7333,135.9833,80.91,90,1,3.47

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#[max(temp, 0) for temp in max_temp]

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ixtapa,MX,2021-08-04 15:19:54,20.7000,-105.2000,83.23,78,75,0.00
4,4,Shingu,JP,2021-08-04 15:19:54,33.7333,135.9833,80.91,90,1,3.47
9,9,Katsuura,JP,2021-08-04 15:19:56,35.1333,140.3000,78.91,86,11,2.13
12,12,Atuona,PF,2021-08-04 15:19:23,-9.8000,-139.0333,77.86,67,100,14.18
17,17,Ponta Do Sol,PT,2021-08-04 15:19:58,32.6667,-17.1000,81.72,69,14,2.75
24,24,Guayaquil,EC,2021-08-04 15:16:44,-2.1667,-79.9000,76.96,76,75,8.05
25,25,Acapulco,MX,2021-08-04 15:20:01,16.8634,-99.8901,75.02,100,90,8.05
31,31,San Cristobal,VE,2021-08-04 15:20:09,7.7669,-72.2250,75.38,81,100,5.99
32,32,Bathsheba,BB,2021-08-04 15:20:10,13.2167,-59.5167,86.61,70,40,17.27
33,33,Saint Anthony,US,2021-08-04 15:20:11,45.0205,-93.2180,78.87,59,1,3.00

In [15]:
preferred_cities_df.count()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Ixtapa      MX     83.23  20.7000 -105.2000
4          Shingu      JP     80.91  33.7333  135.9833
9        Katsuura      JP     78.91  35.1333  140.3000
12         Atuona      PF     77.86  -9.8000 -139.0333
17   Ponta Do Sol      PT     81.72  32.6667  -17.1000
24      Guayaquil      EC     76.96  -2.1667  -79.9000
25       Acapulco      MX     75.02  16.8634  -99.8901
31  San Cristobal      VE     75.38   7.7669  -72.2250
32      Bathsheba      BB     86.61  13.2167  -59.5167
33  Saint Anthony      US     78.87  45.0205  -93.2180