In [1]:
# Import 
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV saved from weather file
city_data_df = pd.read_csv("../weather_data/weather_data.csv")
city_data_df.head(10)
#city_data_df.dtypes

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Korla,CN,2021-08-05 20:59:04,41.7597,86.1469,81.23,27,94,17.02,overcast clouds
1,1,Geraldton,AU,2021-08-05 20:59:04,-28.7667,114.6000,43.21,87,0,4.61,clear sky
2,2,Walvis Bay,NaN,2021-08-05 20:59:05,-22.9575,14.5053,55.09,87,4,2.30,clear sky
3,3,San Jeronimo,PE,2021-08-05 20:59:05,-11.9472,-75.2829,57.90,43,70,9.78,broken clouds
4,4,Mataura,NZ,2021-08-05 20:59:05,-46.1927,168.8643,39.47,94,24,1.92,few clouds
5,5,Ribeira Grande,PT,2021-08-05 20:54:14,38.5167,-28.7000,75.60,83,40,14.97,scattered clouds
6,6,Rikitea,PF,2021-08-05 20:59:06,-23.1203,-134.9692,73.96,75,21,16.35,few clouds
7,7,Hermanus,ZA,2021-08-05 20:59:07,-34.4187,19.2345,55.90,89,2,9.86,clear sky
8,8,Cape Town,ZA,2021-08-05 20:58:26,-33.9258,18.4232,57.61,83,0,1.99,clear sky
9,9,Mahalapye,BW,2021-08-05 20:59:07,-23.1041,26.8142,61.34,33,3,4.70,clear sky

In [3]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#[max(temp, 0) for temp in max_temp]

In [4]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset based on customer request
Selected_city_data_df=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
Selected_city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Korla,CN,2021-08-05 20:59:04,41.7597,86.1469,81.23,27,94,17.02,overcast clouds
5,5,Ribeira Grande,PT,2021-08-05 20:54:14,38.5167,-28.7000,75.60,83,40,14.97,scattered clouds
11,11,Fairbanks,US,2021-08-05 20:55:04,64.8378,-147.7164,79.09,52,1,5.75,clear sky
12,12,Bontang,ID,2021-08-05 20:59:08,0.1333,117.5000,77.23,89,100,7.65,overcast clouds
14,14,Hamilton,US,2021-08-05 20:58:34,39.1834,-84.5333,86.63,51,94,3.00,overcast clouds

In [10]:
# Determine whether there are any empty rows
Selected_city_data_df.count()

City_ID        237
City           237
Country        237
Date           237
Lat            237
Lng            237
Max Temp       237
Humidity       237
Cloudiness     237
Wind Speed     237
Description    237
dtype: int64

In [11]:
#Drop any empty rows and create a new DataFrame 
Selected_city_data_df_new=Selected_city_data_df.dropna(how='any')
Selected_city_data_df_new.count()

City_ID        237
City           237
Country        237
Date           237
Lat            237
Lng            237
Max Temp       237
Humidity       237
Cloudiness     237
Wind Speed     237
Description    237
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along other parameters
hotel_df = Selected_city_data_df_new[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Korla,CN,81.23,overcast clouds,41.7597,86.1469,
5,Ribeira Grande,PT,75.60,scattered clouds,38.5167,-28.7000,
11,Fairbanks,US,79.09,clear sky,64.8378,-147.7164,
12,Bontang,ID,77.23,overcast clouds,0.1333,117.5000,
14,Hamilton,US,86.63,overcast clouds,39.1834,-84.5333,
23,Santa Cruz,BO,85.46,clear sky,-17.8000,-63.1667,
25,Nanakuli,US,82.71,clear sky,21.3906,-158.1547,
26,Rabak,SD,80.67,broken clouds,13.1809,32.7400,
27,Kavaratti,IN,82.18,overcast clouds,10.5669,72.6420,
36,Georgetown,MY,81.90,few clouds,5.4112,100.3354,

In [13]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Korla,CN,81.23,overcast clouds,41.7597,86.1469,Gulisitan Hotel
5,Ribeira Grande,PT,75.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
11,Fairbanks,US,79.09,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
12,Bontang,ID,77.23,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
14,Hamilton,US,86.63,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [15]:
# Drop the rows where there is no Hotel Name.
hotel_new_df=hotel_df.dropna(how='any')
hotel_new_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Korla,CN,81.23,overcast clouds,41.7597,86.1469,Gulisitan Hotel
5,Ribeira Grande,PT,75.60,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
11,Fairbanks,US,79.09,clear sky,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
12,Bontang,ID,77.23,overcast clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
14,Hamilton,US,86.63,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [16]:
#Export 
hotel_new_df.to_csv("weather_vacation.csv", index_label="City_ID")

In [17]:
# Add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each cit
#Get the latitude and longitude from each row and store in a new DataFrame
locations = hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))